$color-pagina :  linear-gradient(to right, #f0dc0a, #f1e429, #f3ed3d, #f4f54e, #f6fd5d);
$font-card : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$color-fieldset : rgb(226, 153, 43);
$margin-general: 0px;
$padding-general: 0px;
$titulo-general: linear-gradient(#3c94af,#3cd462 );

